<div class="level is-mobile post-meta">
  <div class="level-left">
    <div class="level-item">
      <span class="icon-text">
        <span class="icon"><i class="fas fa-user"></i></span>
        <span>{% if page.author %}{{ page.author }}{% else %}{{ site.author.name }}{% endif %}</span>
      </span>
    </div>
    <div class="level-item">
      <span class="icon-text">
        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
        <span>{{ page.date | date: "%d %B %Y" }}</span>
      </span>
    </div>
  </div>
  <div class="level-right">
    {% assign word_count = page.content | number_of_words %}
    <div class="level-item">
      <span class="icon-text">
        <span class="icon"><i class="fas fa-file-word"></i></span>
        <span>{{ word_count }} Kata</span>
      </span>
    </div>
    <div class="level-item">
      <span class="icon-text">
        <span class="icon"><i class="fas fa-clock"></i></span>
        <span>
          {% assign read_time = word_count | divided_by: 200 | round %}
          {% if read_time < 1 %}1{% else %}{{ read_time }}{% endif %} Menit Baca
        </span>
      </span>
    </div>
  </div>
</div>