---
layout: page
# Layout ini 'mewarisi' dari layout 'page' (Fase 5c) 
# sehingga otomatis mendapatkan <section> dan <container>
---

<div class="level is-mobile">
  <div class="level-left">
    <h1 class="title is-2">CV & Pengajaran</h1>
  </div>
  <div class="level-right">
    <button id="print-cv-btn" class="button is-primary is-rounded">
      <span class="icon"><i class="fas fa-download"></i></span>
      <span>Unduh sebagai PDF</span>
    </button>
  </div>
</div>
<hr>

<div class="box cv-box">
  <h2 class="title is-3"><i class="fas fa-briefcase"></i> Pengalaman Kerja</h2>
  {% for exp in site.data.pengalaman_kerja %}
    <article class="media cv-media-item">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="{{ exp.logo }}" alt="Logo {{ exp.perusahaan }}" class="is-rounded">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h3 class="title is-4">{{ exp.perusahaan }}</h3>
          <p class="subtitle is-6">{{ exp.durasi_total }}</p>
          <ul>
            {% for pos in exp.posisi %}
              <li>
                <strong>{{ pos.jabatan }}</strong> ({{ pos.durasi }})
                {% if pos.deskripsi %}
                  <p class="is-size-7">{{ pos.deskripsi }}</p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </article>
    {% unless forloop.last %}<hr class="cv-item-divider">{% endunless %}
  {% endfor %}
</div>

<div class="box cv-box">
  <h2 class="title is-3"><i class="fas fa-graduation-cap"></i> Pendidikan</h2>
  {% for edu in site.data.pendidikan %}
    <article class="media cv-media-item">
      <figure class="media-left">
        <span class="icon is-large has-text-primary">
          <i class="fas fa-university fa-2x"></i>
        </span>
      </figure>
      <div class="media-content">
        <div class="content">
          <h3 class="title is-4">{{ edu.instansi }}</h3>
          <p class="subtitle is-6">{{ edu.tahun }}</p>
          <p><strong>{{ edu.gelar }}, {{ edu.jurusan }}</strong> (Nilai: {{ edu.nilai }})</p>
          <ul>
            {% for keg in edu.kegiatan %}
              <li>{{ keg }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </article>
    {% unless forloop.last %}<hr class="cv-item-divider">{% endunless %}
  {% endfor %}
</div>

<div class="box cv-box">
  <h2 class="title is-3"><i class="fas fa-hands-helping"></i> Pengalaman Sukarela</h2>
  {% for vol in site.data.pengalaman_sukarela %}
    <article class="media cv-media-item">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="{{ vol.logo }}" alt="Logo {{ vol.organisasi }}" class="is-rounded">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h3 class="title is-4">{{ vol.organisasi }}</h3>
          <p class="subtitle is-6">{{ vol.durasi }}</p>
          <p><strong>{{ vol.peran }}</strong> (Bidang: {{ vol.bidang }})</p>
          <p>{{ vol.deskripsi }}</p>
        </div>
      </div>
    </article>
  {% endfor %}
</div>

<div class="box cv-box">
  <h2 class="title is-3"><i class="fas fa-chalkboard-teacher"></i> Mata Kuliah Diampu</h2>
  {% for semester in site.data.mata_kuliah %}
    <h3 class="subtitle is-4 semester-title">{{ semester.semester }}</h3>
    <div class="table-container">
      <table class="table is-fullwidth is-striped is-hoverable matkul-table">
        <thead>
          <tr>
            <th>Nama Mata Kuliah</th>
            <th>Kode Kelas</th>
            <th>Nama Kelas</th>
          </tr>
        </thead>
        <tbody>
          {% for matkul in semester.matkul %}
            <tr>
              <td>{{ matkul.nama }}</td>
              <td>{{ matkul.kode }}</td>
              <td>{{ matkul.kelas }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>