name: Build and Deploy Jekyll Site to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    # ----- TAMBAHKAN 2 BARIS INI -----
    permissions:
      contents: write 
    # -----------------------------------
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true # Kita kembalikan ke 'true'

      # Langkah ImageMagick DIHAPUS
          
      - name: Install dependencies
        run: bundle install # Sekarang akan sangat cepat
        
      - name: Build the site
        run: bundle exec jekyll build
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site